[project]
name = "synth-ai"
version = "0.1.1"
description = "Software for aiding the best and multiplying the will."
readme = "README.md"
authors = [{ name = "Josh Purtell", email = "josh@usesynth.ai" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["synth-ai"]
dependencies = [
    "openai>=1.0.0",
    "pydantic>=2.0.0",
    "diskcache>=5.0.0",
    "backoff>=2.2.1",
    "anthropic>=0.34.2",
    "google>=3.0.0",
    "google-api-core",
    "google-generativeai",
    "google-genai",
    "together>=1.2.12",
    "langfuse>=2.53.9,<3.0.0",
    "datasets>=3.2.0",
    "groq>=0.18.0",
    "pytest-timeout>=2.3.1",
    "mistralai",
]
requires-python = ">=3.10"

[project.urls]
Homepage = "https://github.com/synth-laboratories/synth-ai"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]  # Assumes 'synth_ai' package is in a dir named 'synth_ai' at this level
include = ["synth_ai*"]

# Explicitly exclude test directories and files
[tool.setuptools.exclude-package-data]
"*" = ["tests/*", "public_tests/*", "private_tests/*", "dev/*"]
